spring:
  datasource:
    url: jdbc:postgresql://10.76.81.5:5432/cipher-quest-staging?sslMode=require
    username: cipher-quest-user
    password: ${PG_PASSWORD}
  config:
    activate:
      on-profile: staging
  ai:
    openai:
      chat:
        options:
          model: gpt-4o
          temperature: 0.78
      embedding:
        options:
          model: text-embedding-ada-002
      api-key: ${OPENAI_API_KEY}
  mail:
    host: smtp.gmail.com
    port: 587
    username: dev@welld.ch
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
