spring:
  application:
    name: CipherQuest
  ai:
    openai:
      chat:
        options:
          model: gpt-4o
          temperature: 0.7
      embedding:
        options:
          model: text-embedding-ada-002
      api-key: ${OPENAI_API_KEY}
    vectorstore:
      pgvector:
        index-type: HNSW
        distance-type: COSINE_DISTANCE
        dimensions: 1536
  threads:
    virtual:
      enabled: true

overmind:
  ai:
    rag:
      result-limit: 5
      similarity-threshold: 0.72
    chat:
      history:
        max-size: 10

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always

info:
  app:
    name: '@project.name@'
    description: '@project.description@'
    version: '@project.version@'
































application:
  name: '@project.name@'
  version: '@project.version@'
  win-condition: '.*14032095.+84241132.+12062120.+01012142.*'
